In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
# Carrengando um complemento para visualizar quanto tempo demoram as tarefas

%load_ext autotime

In [3]:
df_iptu = pd.read_csv('IPTU/IPTU_2020.zip', \
                      compression='zip', encoding='iso-8859-9', \
                      sep=';', decimal=',')

In [4]:
df_iptu['SQLC'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:10] + \
df_iptu['NUMERO DO CONDOMINIO'].str[0:2]

In [16]:
df_iptu.loc[df_iptu['NUMERO DO CONDOMINIO'].str[0:2] == '00', 'lote'] = \
df_iptu.loc[df_iptu['NUMERO DO CONDOMINIO'].str[0:2] == '00', 'NUMERO DO CONTRIBUINTE'].str[6:10]

In [18]:
df_iptu.loc[df_iptu['NUMERO DO CONDOMINIO'].str[0:2] != '00', 'lote'] = '0000'

In [20]:
df_iptu['SQLC-lote'] = df_iptu['NUMERO DO CONTRIBUINTE'].str[0:6] + \
df_iptu['lote'] + \
df_iptu['NUMERO DO CONDOMINIO'].str[0:2]

In [23]:
df_iptu[['SQLC','SQLC-lote']]

                 SQLC     SQLC-lote
0        001003000100  001003000100
1        001003000200  001003000200
2        001003000300  001003000300
3        001003000400  001003000400
4        001003000500  001003000500
...               ...           ...
3498639  310118023801  310118000001
3498640  310118023901  310118000001
3498641  310118024001  310118000001
3498642  310119000100  310119000100
3498643  310120000100  310120000100

[3498644 rows x 2 columns]

In [35]:
campos = ['SQLC',
          'SQLC-lote',
         'NOME DE LOGRADOURO DO IMOVEL', 
         'NUMERO DO IMOVEL',
         'COMPLEMENTO DO IMOVEL',
         'CEP DO IMOVEL',
         'TIPO DE USO DO IMOVEL']

In [25]:
# df_iptu['NUMERO DO IMOVEL'] = df_iptu['NUMERO DO IMOVEL'][df_iptu['NUMERO DO IMOVEL'].notna()].astype(int)
df_iptu.loc[df_iptu['NUMERO DO IMOVEL'].isna(), 'NUMERO DO IMOVEL'] = 0
df_iptu = df_iptu.astype({'NUMERO DO IMOVEL':'int32'})
# df_iptu['numero_de_porta'] = df_iptu['NUMERO DO IMOVEL'][df_iptu['NUMERO DO IMOVEL'].notna()].astype('int32')

In [26]:
df_iptu['NOME DE LOGRADOURO DO IMOVEL'] = df_iptu['NOME DE LOGRADOURO DO IMOVEL'].str.title()

In [27]:
df_iptu['COMPLEMENTO DO IMOVEL'] = df_iptu['COMPLEMENTO DO IMOVEL'].str.title()

In [28]:
gdf_coords = gpd.read_file('resultados/lotes-por-pontos.gpkg')

In [29]:
gdf_coords['X'] = gdf_coords.geometry.x
gdf_coords['Y'] = gdf_coords.geometry.y

In [37]:
df_enderecos = df_iptu[campos].merge(gdf_coords, on='SQLC-lote', how='left')

In [40]:
df_enderecos[df_enderecos.X.isna()]

,SQLC,SQLC-lote,NOME DE LOGRADOURO DO IMOVEL,NUMERO DO IMOVEL,COMPLEMENTO DO IMOVEL,CEP DO IMOVEL,TIPO DE USO DO IMOVEL,geometry,X,Y
1539,001013003400,001013003400,R Possidonio Inacio,34,38 E 44,01103-030,"Prédio de apartamento, não em condomínio, de u...",None,NaN,NaN
11661,001049067100,001049067100,R Florencio De Abreu,333,337,01029-000,Loja,None,NaN,NaN
11662,001049067200,001049067200,R Florencio De Abreu,343,NaN,01029-000,Loja,None,NaN,NaN
11663,001049067300,001049067300,R Florencio De Abreu,353,355,01029-000,Loja,None,NaN,NaN
11664,001049067400,001049067400,R Carlos De Sousa Nazare,54,NaN,01025-000,Loja,None,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3503303,310110003900,310110003900,R S Borja,98,10 A Qd 3,04320-060,Residência,None,NaN,NaN
3503304,310110004000,310110004000,R Jose De Alcantara,91,NaN,04324-000,Residência,None,NaN,NaN
3503305,310110004100,310110004100,R S Borja,158,NaN,04320-060,Residência,None,NaN,NaN
3503306,310110004200,310110004200,R Jose De Alcantara,159,NaN,04324-000,Residência,None,NaN,NaN
3503972,310120000100,310120000100,R Ambores,0,NaN,04319-110,Terreno,None,NaN,NaN

In [41]:
campos_exportacao = \
        ['SQLC',
         'X', 'Y', 
         'NOME DE LOGRADOURO DO IMOVEL', 
         'NUMERO DO IMOVEL',
         'COMPLEMENTO DO IMOVEL',
         'CEP DO IMOVEL',
         'TIPO DE USO DO IMOVEL']

In [48]:
campos_renomear = \
        {'SQLC': 'sqlc',
         'X': 'longitude', 'Y': 'latitude', 
         'NOME DE LOGRADOURO DO IMOVEL': 'logradouro', 
         'NUMERO DO IMOVEL': 'numero',
         'COMPLEMENTO DO IMOVEL': 'complemento',
         'CEP DO IMOVEL': 'cep',
         'TIPO DE USO DO IMOVEL': 'uso'}

In [49]:
df_enderecos.rename(columns=campos_renomear)

,sqlc,SQLC-lote,logradouro,numero,complemento,cep,uso,geometry,longitude,latitude
0,001003000100,001003000100,R S Caetano,13,NaN,01104-001,Loja,POINT (-46.63286 -23.53436),-46.632863,-23.534357
1,001003000200,001003000200,R S Caetano,19,NaN,01104-001,Loja,POINT (-46.63279 -23.53438),-46.632790,-23.534376
2,001003000300,001003000300,R S Caetano,27,NaN,01104-001,Loja,POINT (-46.63272 -23.53438),-46.632722,-23.534379
3,001003000400,001003000400,R S Caetano,33,NaN,01104-001,Loja,POINT (-46.63266 -23.53438),-46.632657,-23.534385
4,001003000500,001003000500,R S Caetano,39,NaN,01104-001,Loja,POINT (-46.63258 -23.53434),-46.632585,-23.534343
...,...,...,...,...,...,...,...,...,...,...
3503968,310118023801,310118000001,Av Eng Armando De Arruda Pereira,1827,Ap 42,04309-011,Apartamento em condomínio,POINT (-46.64079 -23.64294),-46.640787,-23.642935
3503969,310118023901,310118000001,Av Eng Armando De Arruda Pereira,1827,Ap 43,04309-011,Apartamento em condomínio,POINT (-46.64079 -23.64294),-46.640787,-23.642935
3503970,310118024001,310118000001,Av Eng Armando De Arruda Pereira,1827,Ap 44,04309-011,Apartamento em condomínio,POINT (-46.64079 -23.64294),-46.640787,-23.642935
3503971,310119000100,310119000100,R Cotipora,0,NaN,04317-060,Terreno,POINT (-46.63133 -23.64445),-46.631329,-23.644451
3503972,310120000100,310120000100,R Ambores,0,NaN,04319-110,Terreno,None,NaN,NaN

In [56]:
compression_opts = dict(method='zip',
                        archive_name='sao-paulo-address-IPTU-2021.csv',
                       allowZip64=True) 

df_enderecos.loc[df_enderecos.X.notna(), campos_exportacao] \
            .rename(columns=campos_renomear) \
            .to_csv('resultados/sao-paulo-address-IPTU-2021.zip', 
            index=False, 
            compression=compression_opts)

TypeError: to_csv() got an unexpected keyword argument 'allowZip64'

In [47]:
df_enderecos.loc[df_enderecos.X.notna(), campos_exportacao]

,SQLC,X,Y,NOME DE LOGRADOURO DO IMOVEL,NUMERO DO IMOVEL,COMPLEMENTO DO IMOVEL,CEP DO IMOVEL,TIPO DE USO DO IMOVEL
0,001003000100,-46.632863,-23.534357,R S Caetano,13,NaN,01104-001,Loja
1,001003000200,-46.632790,-23.534376,R S Caetano,19,NaN,01104-001,Loja
2,001003000300,-46.632722,-23.534379,R S Caetano,27,NaN,01104-001,Loja
3,001003000400,-46.632657,-23.534385,R S Caetano,33,NaN,01104-001,Loja
4,001003000500,-46.632585,-23.534343,R S Caetano,39,NaN,01104-001,Loja
...,...,...,...,...,...,...,...,...
3503967,310118023701,-46.640787,-23.642935,Av Eng Armando De Arruda Pereira,1827,Ap 41,04309-011,Apartamento em condomínio
3503968,310118023801,-46.640787,-23.642935,Av Eng Armando De Arruda Pereira,1827,Ap 42,04309-011,Apartamento em condomínio
3503969,310118023901,-46.640787,-23.642935,Av Eng Armando De Arruda Pereira,1827,Ap 43,04309-011,Apartamento em condomínio
3503970,310118024001,-46.640787,-23.642935,Av Eng Armando De Arruda Pereira,1827,Ap 44,04309-011,Apartamento em condomínio
3503971,310119000100,-46.631329,-23.644451,R Cotipora,0,NaN,04317-060,Terreno

In [9]:
df_iptu['NOME DE LOGRADOURO DO IMOVEL'].str.split(expand=True).stack().value_counts()

R                2819050
DE                513244
AV                506628
DA                167653
DR                143987
                  ...
ARACATI-MIRIM          1
LETONIA                1
TAIO                   1
MENFIS                 1
PRISCA                 1
Length: 21859, dtype: int64